.chamo*
META
config.log
config.status
ocaml_config.sh
master.Makefile
*.cm*
*.a
*.o
*.annot
src/caml-get
src/caml-get.byte
src/caml-get.gtk
src/caml-get.gtk.byte
src/cgversion.ml
src/ocamldoc
src/cgtest
src/cgtest.ml-test
src/dump.odoc
